body{
    background:#000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav{
    display: flex;
    background: #FF0080;
}
.nav__ul{
    padding: 20px;
    }
.nav__ul__li{
    display: inline;
    position: relative;
    margin:5px;
    border: solid rgb(44, 6, 6);
    padding: 10px 5px;
    color: #fff;   
  
}
section{
    display:inline;
}
img{
    display:absolute;
    width: 150px;
}
h1{
    color:#fff;
}
p {
    color: #fff;
}